body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
	background: white;
}

a {
	text-decoration: none;
	color: black;
	margin: 0 20px;
}

.urls {
	margin: 0 20px;
	font-size: 25px;
	position: absolute;
	top: 20%;
	left: 23%;
}

.home , .tran-tor , .contacts , .about {
	background: white;
	padding: 5px;
	border-radius: 10px;
	transition:all 0.3s ease;
}

.home:hover , .tran-tor:hover , .contacts:hover , .about:hover {
    box-shadow: inset 0 0 0 3px #53a7ea;
}


p {
	position: absolute;
	left: 26%;
	margin-top: 50%; 
	margin-bottom: 35%;
	width: 60%;
}

img {
	width: 10%;
	position: absolute;
	top: 99.5%;
	left: 12%; 
	padding: 10px;
	border-radius: 25px;
	transition:all 0.3s ease;
}

img:hover {
	box-shadow: inset 0 0 0 5px #53a7ea;	
}

p {
	padding: 15px;
	border-radius: 15px; 
	transition:all 0.3s ease;
}

p:hover {
	box-shadow: inset 0 0 0 5px #53a7ea;
}