html,body {
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
	font-family: Arial Narrow, sans-serif;
}

.menu {
	position: absolute;
	top: 0px;
	background: #5675FF;
	width: 35%;
	height: 100%;
	border-radius: 0px 10px 10px 0px;
}

.content {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 64%;
	border-radius: 10px;
}

img {
	position: absolute;
	width: 50%;
	left: 25%;
	top: 5%;
}

a {
	text-decoration: none;
	color: white;
	letter-spacing: 3px;
}

.menu-text {
	position: absolute;
	top: 20%;
	font-size: 10px;
	left: 9%;
	text-align: center;
}

.content {
	position: absolute;
	font-size: 10px;
	top: 1%;
	letter-spacing: 1px;
}

@media screen and (max-width: 1080px) {
	.menu-text {
		top: 30%;
		left: 5%;
	}

	.content {
		width: 63%;
	}
}