	html,body {
		margin-top: 0px;
		margin: 0px;
		padding: 0px;
		font-family: Arial Narrow, sans-serif;
	}

	.header {
		display: inline-block;
		background: black;
		width: 100%;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
		word-spacing: 40px;
		font-weight: bold;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

	.txt1 {
		width: 80%;
		height: 50vh;
		margin-left: 10%;
		margin-top: 7%;
		border-radius: 15px;
		font-family: Arial Narrow, sans-serif;
	}

	.transliter {
		width: 25%;
		font-size: 22px;
		font-family: Arial Narrow, sans-serif;
		border-radius: 15px;
		padding: 8px;
		margin-top: 2%;
		margin-left: 10%;
	}